.SBcurUser {
    font-size: 20px;
    height: 30px;
    margin-bottom: 10px;
}

.SBlabel {
    font-size: 16px;
    padding:20px 10px;
}

.SBlist  {
    list-style-type: none;
    padding-left: 0;
}

.SBlist > li {
    height: 20px;
    width: 80%;
    padding: 5px;
    margin-top: 2px;
}

.SBroom {
    cursor: pointer;
}

.SBroom:hover {
    background-color: #bbb
}

.curroom {
    font-weight: bold;
    border-radius: 10px;
    background-color: #ddd;
}

.notification {
    border: 1px solid red;
    border-radius: 10px
}

.normal {
    border-radius: 10px
}

.DWlabel {
    font-size: 40px;
    height: 30px;
    text-align: center;
    padding-top:5px;
}

.DWmessage {
    border-radius: 4px;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
}

.DWmessage:hover {
    background-color: #eee;
}

.DWusername {
    font-size: 14px;
    font-weight: bold;
    margin-right: 0.25rem;
}

.DWtime {
    font-size: 14px;
    color: #666;
}

.DWmessagebody {
    font-size: 16px;
    overflow-wrap: break-word;
}

.input-box {
    width: 80%;
    height: 100%;
}

.input-submit {
    height: 100%;
}