.left-div {
    float: left;
    width: 250px;
    height: 90vh;
    margin: 30px 30px;
    
    overflow: hidden;
  }
  
  .right-div {
    overflow: hidden;
    margin: 30px 30px;
    width: calc(100vw - 120px - 200px)
  }
  
  .messages {
    border: 2px solid  #ffb0cd;
    height: calc(90vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
  }
  
  .inputs {
    border: 2px solid  #ffb0cd;
    padding: 10px 10px;
    height: 60px;
  }